th {
  color: var(--primary-color);
}
button {
  font-size: 14px;
  font-weight: 500;
}
h4 {
  font-size: 24px;
  height: auto;
  line-height: initial;
}
.main-btn {
  background-color: var(--primary-color);
  color: white;
}
