<section id="product" *ngIf="product">
  <div class="row m-auto">
    <div class="col-lg-5 col-md-8 col-sm-12 m-auto">
      <div class="card">
        <div class="img-container">
          <img
            class="card-img-top img-fluid m-auto"
            *ngIf="product.images[0]?.url"
            [src]="product.images[0]"
          />
        </div>

        <div class="card-body">
          <h3 class="card-title">{{ product.name }}</h3>
          <h5 class="card-subtitle">{{ product.cost }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <a (click)="addToCart(product)" class="btn btn-primary"
            >Add to cart</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="votes">
  <div class="row w-100">
    <div class="col-lg-1 col-md-0"></div>
    <div class="col-4">
      <div class="vote">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <div class="rates"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-0"></div>
  </div>
</section> -->
